<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <title>Edição</title>
        <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=iNzoFNrVNdX6xU8QQEBEKaoslkB-TeN02T9Ka2V9nlPFP6uXHH_onXSGKIbKKlcW27k0OzwOVP5uSCntSdtFpf1fu17qJTAqUVAx1vOmw-IrPIm-y9kRqG9kN3kCdXW4CzdjUvjMU1Y13nlGolmxa9Sz3yYXARpuwS8vBSmCUJSsSjrmM4IFOVyEg_irwMOKRxQp4C5aZzaI7HuSfIImDhlikW8EmMEcdlrGsYpgGHoGcDbdUYpCoggER_icrgOSD0R31qYyf_kRJ0mhlzG4Ical5YAEoPSCwfUL_Vy5DJdHl7YkXmpiQbFYcLWiY3zO9HFtugfDEWt0R1-YTRjV_UbgSfG_6yLopRl6AGWsQh49tB0zN3K27Pz1eF0TWKEz8OoyTWHBffWrdtu9wDHBUwj1YmMMp_aDTGN1LhLG_cgIguCwIGXSa6lhz_E7NazUyXjrGkYKvX6PaGlHe-Hj47GAD-NQmXI0yX8HQKRK8WA7-7xfy1DUVWNT_nkUYbcrpa8H6iPkbIMW664_vtcBT5EvmI174KUUhbaFjE39d2q2zNHOt1Rj4Gg7xHhcyE_qhCRuEsaW4QR9gFwzB-7KsW46ZCCR2pmt-n1w44C-Nh47NfGWRfAmg1auphX05YzoEq5IWoLHWZJGo7Si1L-s9GLSJmPFN_mt3DnP8Tc0Hp9qRRq_plVDaEDylN0M8nGetl3jqjfsdfX650FaSseEjfUbDrMuwvQx1HJHv-4kxcivUwF_5vgFuygW79ppN29FFUOjfk1Yb_kRya5f7i3o46JLekQcM-Dr7tjz-ZvuJ0uw82UZi1np7WtupSvrPhm02mXim9lMIml1Pa7cfHZVYG6_QgUl1Fd-aWAF0Gc1C8vnrqQEK409my2HiSHLZsZUYHagLcqtewjFnltFAwdJ8nDc1dTz_cGGoD8LJI6Fqu4xgHf-BUmjqthKcICbAHFdT24JnSdbwr5nFnFhqom2r9-DevkRJHTV1SY5pSVZTH3J2VTZoJSB3YGbubtAOrhm3Wp8gv-KL1joklLxdtf45cWniKWI7AA35My2ShqlDHjaAsz-jay151BYV5cGm_B2WHmvaPAVLxMZtmTUNDoa0VchltCd5YC93-cH7jWCzfYrbBPyo0WIUL2QghouUQ57ukaP-3MFdpFBwhrWvqX2l91uUgyFsJ3gqAQROu5ZE4kGBVrPfSt7rPFquJ4uD45V_8tW-n0dw9RZ1X8l8HnZwF28tzKRenDMU2FEFkuzDehKOCbfALva9VnBkYGJoeO4ib5sdGhjS60eEb4gvWtLSAzrz_q4OxBkoLFazx7P8bdtWgGo1ffs4z4Y1sLvZRYW3GFpEcZ2ygpyJib6j4dDQLq33ruQskCpiXd3Sihmj1k" charset="UTF-8"></script>
        <link rel="stylesheet" crossorigin="anonymous" href="https://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9mYXRlY3NwZ292LnNoYXJlcG9pbnQuY29tL3NpdGVzL1NlY3Rpb25fSVNXMDM4LkE4OTIuTS4xMzkuMTExLjIwMjQxL19sYXlvdXRzLzE1L2Rvd25sb2FkLmFzcHg_VW5pcXVlSWQ9MWE2Y2YxYTItZWY1My00MDgxLTg4ZDAtMjc5ZjI1YTkxZmM3JlRyYW5zbGF0ZT1mYWxzZSZ0ZW1wYXV0aD12MS5leUp6YVhSbGFXUWlPaUkzWVROaE9Ea3hOeTFpWVRjMUxUUTROR1l0T0RnNVlTMDRNbVE1WkRNM01qUTRZMkVpTENKaGNIQmZaR2x6Y0d4aGVXNWhiV1VpT2lKTmFXTnliM052Wm5RZ1ZHVmhiWE1nVjJWaUlFTnNhV1Z1ZENJc0ltRndjR2xrSWpvaU5XVXpZMlUyWXpBdE1tSXhaaTAwTWpnMUxUaGtOR0l0TnpWbFpUYzROemczTXpRMklpd2lZWFZrSWpvaU1EQXdNREF3TURNdE1EQXdNQzB3Wm1ZeExXTmxNREF0TURBd01EQXdNREF3TURBd0wyWmhkR1ZqYzNCbmIzWXVjMmhoY21Wd2IybHVkQzVqYjIxQVkyWTNNbVV5WW1RdE4yRXlZaTAwTnpnekxXSmtaV0l0TXpsa05UZGlNRGRtTnpabUlpd2laWGh3SWpvaU1UY3lOekkyTkRjek1DSjkuQ2dvS0JITnVhV1FTQWpZMEVnc0lqSU9EMTZiV3JqMFFCUm9NTkRBdU1USTJMalExTGpJM0tpeDZhbTVDUVhOamFFUjFabTVMYm1rdldHd3dZbGhzVm10elRTdFJaWGczYlVSU1FYaDVkbXBzTnpoQlBUQ2pBVGdCUWhDaFU2OWhoY0FBWUdDbTFPemhSZV84U2hCb1lYTm9aV1J3Y205dlpuUnZhMlZ1Y2lrd2FDNW1mRzFsYldKbGNuTm9hWEI4TVRBd016SXdNREl4TldVMk0yTXhOVUJzYVhabExtTnZiWG9CTW9JQkVnbTk0bkxQSzNxRFJ4Rzk2em5WZXdmM2I1SUJDRXBGUmtWU1UwOU9tZ0VFVEVsTlFhSUJIMnBsWm1WeWMyOXVMbXhwYldFeE1FQm1ZWFJsWXk1emNDNW5iM1l1WW5LcUFSQXhNREF6TWpBd01qRTFSVFl6UXpFMXNnRW9ZV3hzWm1sc1pYTXVkM0pwZEdVZ1ozSnZkWEF1Y21WaFpDQmhiR3h6YVhSbGN5NTNjbWwwWmNnQkFRLlk0aGNXRldNSHNQdUNvY09fWmRCX2haUXBnVjBUdXhNX19ZSURzcHk5UXcmQXBpVmVyc2lvbj0yLjA" />
        <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=wtXZEf1aA8T6_Zv30JJXcJ4XmDlMJkDDn1C9cmSNgY0Mhts1RR8v8r2BwpG5ojDus1qYZVR5iCoulfXAepZuaWp-iyPEJGoYPtBp7dfzje8UZMzEfp02NPP1F32BG7_1EVn_Ij6rAU15f1G4ZyVxJ8r9fJwcIFpuza6XwQolHPTg6u1viVaRb2j13TYqKvFX3fAP5s6PbbR1s3Jylj9tHwQ-w6bf50guZQc6rlK0CgW_lncsIkGYC0g6SZvl5X-IjVOPXs4q3KHjlmkEbDOm9GLe4bb6UIKHQx_bv0L2c0NsLLljt5zlTXSzbfihzWZXuebuDSP1zey9io5gDnYIq6qC9RkLYxcPV1eoODijoyLFqDUYw34FVu2Vfzvi5enDeOdQa6krMVUGAELQlzBx-SwWsB9BC9AVgoU8ENXTRSq1g_ipLA2vUYPS2RjXCqZ79uSM0GUypitHGOsU9Hr6Js9I_hqaciNyrg9IUV90GZs7yDuyN0fESOh4yYs82fb8av4f3i-GNDCDwCjQeQvdiFih6r1jYPjTqd05ewYKG1gvgkv1BvWuErK98-GjsCQbz66HAGMVCQgZEk2aKIvXT7SvwHHx58TCPD8ejZNMeexqqKkxPoEhBPE_HHpU-g9_s3QM04X_4XbBAgJM1V7eW5IZJPR7pNLRmBGpzAcngHpzh_MKAyejmQ1RT-6pEX0P72KZCzqQIlZuoIqNXSuC4AvKHxCnuv6fDA3jp3fwTVyZ-Pb3bcfYKCHkMcj8fAfM8YJG8IdtvmO50GgzHcZGigpRSmOBCTYxvTbwf2WxKf9pOV6E2yuCWMhVoo_BjbDva_aVUD-BUPFIEoNq0vs4HGcu90l5aRlcfSy5FJ1vSC9ZR5eZtSPgmtIOszeiGbjBVQyj5kQMcml_mfDeMz_R61mhToF7bwV3lnakoBkuFehvy-60nNUBXV0dcbFnsihd0Sdm6s23cXQiMk2aJ-XKsk0ZwhmCdjAdnzSQ_BuSBT38sKMaZyOYC2JZ246tvoJX-3O0AohUMhjNJ72kFWemK2jwhrEViPJlwzfqKXaaa8ea3TyYKiegw-A-WH2LYGNkQvyLeHqm3Iu05mEiB_NFb8HcUJ6c3KF2Ztbtb8YxGCW9EVs7fNDzn2soLiRUuaRhm0Anlyyi5DWOgYMJ4BjAGfqPvbmfrqcqOHVL4qiyBg6b0DjHubkm6661W93a-qOjhYr50TUkhpJNJ8PNotuZ63MuCePvrUn0qpjYvWERuWhXugQOPxqM0ieHk5TPDQTK0BwHeO2bVQq_VQ5QJdP2jG29xQFgr-MlOMQSV6HQ515Q0QyR6eeDB1YIv9UJAc_UR7DZiygrTWXfnZlVVjaqvBwIyDQB3bKiVR4DYkY4hH4c_roQxZ6Iu85pXWej-ehbCTHJ6QUZPa1RM4sTDxLMHpl0EUKU2Tf6rjUUpvvvi1oYT1arMjohU41VmDuvVM7wvU7_B-Yd1WTjpRckkvsU70xS6fuVHa_gNdvepIyPDA3AblEszJf3DGeES7wV_jWJBvBN3A6MxNA7Z-yaTh7iT7sGY3IuIn_t0olV9jU1TOX9m1SnXkHvYg-cJCgIytKl-6fg13vd5t475XOb9OhGpOscVI1_ry0c9GY6WbH-P6h4CroAMvSJooa8j6vLyc8-6-UQT8jpvlKNYzE1HwcPYKESqpgy66QlY0DMv0gTUqEia1eUwvW2yu7Zb3pf-kxL-YSFKAVMDnxMRqt5TSuWfjQudxzJl7TpgTNzx4l2Hfhw9Zz9I0Ggop2dQDLeD3ogdyEY2qGPZwp7r3IzY0v0dnxZxGQxXqSeehEtf987Lmg" charset="UTF-8"></script>
    </head>
    <body>
        <div class="container">
            <h1>Edição</h1>
            {{#each posts}}
            {{#dataValues}}
            <form action="/atualizar/{{id}}" method="post">

                <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label">Nome:</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" id="nome" name="nome" value="{{nome}}">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label">Telefone:</label>
                    <input type="number" class="form-control" id="exampleInputEmail1" id="telefone" name="telefone"
                        value="{{telefone}}" placeholder="(00)00000-0000">
                </div>
                <div class="form-group">
                    <label for="Select" class="form-label">Origem:</label>
                    <select name="origem" class="form-select" aria-label="Default select example"></select>
                    <option value="celular" {{#if (eq origem 'celular' )}}selected{{/if}}>Celular</option>
                    <option value="whatsapp" {{#if (eq origem 'whatsapp' )}}selected{{/if}}>Whatsapp</option>
                    <option value="telefone_fixo" {{#if (eq origem 'telefone_fixo' )}}selected{{/if}}>Telefone Fixo</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label">Data do Contato:</label>
                    <input type="date" class="form-control" id="exampleInputEmail1" value="{{data_contato}}">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label">Observação:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        name="observacao">{{observacao}}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
            {{/dataValues}}
            {{/each}}
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>